#tree_view_container{
    min-width: 20rem;
    max-width: 40rem;
    width: 30%;
    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
    border-right: 5px ridge black;
}

#list_view_container{
    max-width: calc(100% - 20rem);
    min-width: calc(100% - 40rem);
    width: 70%;
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.middlecontainer{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    
    border: 3px ridge black;
    
    overflow: auto;
}

.closebutton{
    position: absolute;
    top: -1px;
    right: 0;
    font-size: 1.25rem;
}

.middlecontainer h2{
    border-bottom: 3px ridge black;
    padding: 0.25rem;
}

.tab_content{
    position: absolute;
    top: 2.7rem;
    bottom: 2.75rem;
    left: 0;
    right: 0;
    padding: 0.25rem;
    overflow: auto;
}

.tab_footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 3px ridge black;
}

.tab_footer button{
    font-size: 1.25rem;
}