#leftcontainer{
    min-width: 20rem;
    max-width: 40rem;
    width: 30%;
    
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    
    border-right: 5px ridge black;
}

#rightcontainer{
    max-width: calc(100% - 20rem);
    min-width: calc(100% - 40rem);
    width: 70%;
    
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.middlecontainer{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    
    border: 3px ridge black;
}

.middlecontainer h2{
    border-bottom: 3px ridge black;
    padding: 0.25rem;
}