#list_view_header{
    position: relative;
    border-bottom: 3px ridge black;
    height: 4rem;
    padding-top: 1rem;
}

#filter_button_container{
    position: absolute;
    top: 0;
    left: 0;
    border-right: 3px ridge black;
    border-bottom: 3px ridge black;
    
}

#archive_filter_container{
    border-left: 3px ridge black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 7rem;
    text-align: left;
}

#archive_filter_container label{
    display: block;
}

#filter_container{
    border-right: 3px ridge black;
    padding: 0.05rem;
    padding-right: 2rem;
    padding-left: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: calc(100% - 7rem + 3px;);
    text-align: left;
    display: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    background: white;
}

#filter_container::-webkit-scrollbar{
    display: none;
    width: 0;
    height: 0;
}

#filter_container label{
    display: block;
}

#filter_container input{
    margin: 0.1rem;
}

#list_view_elements{
    position: absolute;
    top: 4rem;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 0.5rem;
}

.list_view_item{
    text-align: left;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
}

.list_view_category{
    border-color: springgreen;
}

.list_view_link{
    border-color: blue;
    display: block;
}

.button_container{
    position: absolute;
    right: 0;
    top: -0.1rem;
}

.button_container button{
    font-size: 0.75rem;
}